<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/service.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>
  
  <body >
    <div class="services-section">
      <div class="inner-width">
        <h1 class="section-title">Our Services</h1>
        <div class="border"></div>
        <div class="services-container">

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-paint-brush"></i>
            </div>
            <div class="service-title">UX/UI Design</div>
            <div class="service-desc">
              UX/UI Design is very innovative solution for you to decorate your web pages
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-code"></i>
            </div>
            <div class="service-title">Web Development</div>
            <div class="service-desc">
              Including variety of programming languages, we aim to make a web site of your business stand out.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-lock"></i>
            </div>
            <div class="service-title">Cyber Security</div>
            <div class="service-desc">
              Cyber Security plays a crucial role in the business from the point of data security.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fa fa-cloud"></i>
            </div>
            <div class="service-title">Cloud Services</div>
            <div class="service-desc">
              Move your data, access your data from anywhere, anytime
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-database"></i>
            </div>
            <div class="service-title">Databases</div>
            <div class="service-desc">
              We provide you working with a number of databases like MySQL, sqlite3, MongoDB etc.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fab fa-android"></i>
            </div>
            <div class="service-title">Android</div>
            <div class="service-desc">
              Demand for Android and IOS programming services are growing day-by-day.
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
